Regression/TaxiFarePrediction/yellow_tripdata_2018-12.csv
Binary Classification/HeartDiseasePrediction/.ionide/
MulticlassClassification/DigitRecognition/mnist_test.csv
MulticlassClassification/DigitRecognition/mnist_train.csv
MulticlassClassification/DigitRecognition/.ionide/
BinaryClassification/SpamDetection/.ionide/symbolCache.db
BinaryClassification/TitanicPrediction/.ionide/
Regression/BikeDemandPrediction/.ionide/
Clustering/IrisFlower/.ionide/

.fake
.ionide